.menu-button {
    width: max-content;
    height: 32px;

    cursor: pointer;

    padding: 8px;
    border-radius: 8px;

    position: relative;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out;
}

@media (hover: hover) {
    .menu-button:hover {
        background-color: #687BE014;
    }
}

.menu-button-text {
    font: 300 13px/16px 'Manrope', 'rom-font';
    letter-spacing: 0.2px;
    
    display: flex;
    align-items: center;
    gap: 4px;

    color: #21344A;
}

.active::after {
    content: "";
    height: 2px;
    width: 90%;
    

    color: #687BE0;
    border-radius: 0 0 8px 8px;
    background-color: #687BE0;
    border: 1px solid transparent; 

    position: absolute;
    bottom: -0.5px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0)
}