.button {
  width: 380px;
  height: 48px;

  padding: 12px 20px;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font: 500 16px/160% "Manrope";
  color: #fff;
  background-color: var(--main-color-button);

  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

@media (hover: hover) {
  .button:hover {
    background-color: #454850;
  }
}

.button:active {
  color: #4454ae;
  background-color: #fff;
}
.button:active svg path {
  stroke: currentColor;
}

@media screen and (max-width: 1150px) {
  .button {
    width: 456px;
    height: 50px;
  }
}

@media screen and (max-width: 900px) {
  .button {
    width: 390px;
  }
}

@media screen and (max-width: 650px) {
  .button {
    width: 358px;
    height: 48px;
  }
}