.sliding {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 32px;
}

.title {
    height: 50px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .sliding {
        display: flex;
        flex-direction: column;
        gap: 12;
    }

    .title {
        height: auto;
        display: block;
    }
}