.box {
    height: 100%;
    width: 50%;
    padding: 24px 0;

    display: flex;
    align-items: end;
    justify-content: end;

    position: absolute;
    bottom: 0;
    right: -300px;
}

.arrow {
    width: 36px;
    height: 36px;

    border: 1px solid #687BE066;
    background-color: #FFFFFF99;
    border-radius: 8px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    bottom: 24px;
    right: 24px;

    transition: background-color 0.2s ease-in-out;
}

.svg {
    width: 12px;
    color: #9B9B9B;
}

@media (hover: hover) {
    .arrow:hover {
        box-shadow: 0px 0px 24px 0px #F4F4F433;
        backdrop-filter: blur(20px);

        background-color: #7486E21A;
        border-color: #687BE0B2;
    }
    .arrow:hover>.svg {
        color: #687BE0B2;
    }
}

.arrow:active {
    background-color: #FFFFFF99;
    border-color: #17029C;
}
.arrow:active>.svg {
    color: #17029C;
}

@media screen and (max-width: 920px) {
    .box {
        right: 0;
    }
    .arrow {
        position: relative;
        bottom: 0;
        right: 0;
    }
}