.container {
    width: 608px;
    height: max-content;
    border-radius: 8px;
    border: 1px solid #DEDEDE;
    background-color: #FFFFFF;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.container:focus {
    outline: none;
}

/* --- BOX TITLE --- */
.boxTitle {
    height: 72px;
    padding: 0 32px;
    border-bottom: 1px solid #687BE052;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxTitle svg {
    color: #263AA7;
    cursor: pointer;
}

.boxTitle svg:hover {
    color: #687BE0;
}

.boxTitle svg:active {
    color: #17029C;
}

.title {
    font: 500 24px/32px 'Inter';
    letter-spacing: 0px;
    color: #000;
}

/* --- BOX INPUT --- */
.boxInput {
    padding: 24px 32px;
}

.text {
    margin-bottom: 24px;

    font: 400 16px/24px 'Manrope';
    letter-spacing: 0.5%;
    color: #21344A;
}

.input {
    height: max-content;
    border-radius: 8px;

    overflow: hidden;
    position: relative;
}

.input input {
    width: 100%;
    height: 40px;
    padding: 12px;

    font: 400 16px/24px 'Manrope';
    color: #21344A;
    background-color: #F2F2F2;
    border-bottom: 1px solid #687BE052;

    transition: all 0.3s ease-in-out;
}

.input input:hover {
    background-color: #687BE03D;
    border-bottom-color: #687BE0;
}

.input input:focus {
    background-color: #FFF;
    border-bottom-color: #17029C;
}

.error input {
    border-bottom-color: #C60E0E;
}

.input input::placeholder {
    font: 400 italic 14px/16px 'Inter';
    letter-spacing: 0%;
    vertical-align: middle;
    color: #ABABAB;
}

.input p {
    height: 15px;
    margin: 8px 0 0 12px;
    font: 400 12px/100% 'Inter';
    letter-spacing: 0%;
}

.hintText {
    color: #7E8294;
}

.errorText {
    color: #C60E0E;
}

/* --- BOX BUTTON --- */
.boxButton {
    height: 92px;
    padding: 0 32px;
    border-top: 1px solid #687BE052;

    display: flex;
    align-items: center;
    justify-content: end;
}

.continue,
.cancel {
    height: 44px;
    padding: 12px 14px;
    border-radius: 8px;

    font: 500 16px/20px 'Inter';
    text-align: center;
    letter-spacing: 0%;

    transition: all 0.3s ease-in-out;
}

.continue {
    margin-right: 16px;
    color: #FFF;
    background-color: #687BE0;
}

.cancel {
    border: 1px solid #687BE066;
    color: #263AA7;
}

@media (hover: hover) {
    .continue:hover {
        background-color: #4053BB;
    }

    .cancel:hover {
        background-color: #687BE01A;
    }
}

.continue:active {
    background-color: #3E4A86;

}

.cancel:active {
    color: #17029C;
    border-color: #17029C;
    background-color: transparent;
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 20px;
    }

    .input input,
    .text {
        font-size: 16px;
        line-height: 20px;
    }

    .input input::placeholder {
        font-size: 16px;
    }
}