main header {
  width: 100%;
  height: auto;

  padding-top: 130px;

  background-color: #fff;
}

.hat {
  padding-bottom: 120px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.wrapper {
  margin-top: 120px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  gap: 100px;
}

.wrapper.alignment {
  margin: 120px auto 100px;
}

.section {
  padding: 100px 0 50px;

  display: flex;
  flex-direction: column;
}

.alignment {
  width: 1240px;
  margin: 0 auto;
}

.separator {
  width: 100%;
  height: 1px;

  background-color: #ced0d8;
}

.text-box {
  max-width: 816px;
}

.text-box-large {
  max-width: 922px;
}

.text-box-lx2 {
  max-width: 1028px;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2px;
  margin-bottom: 60px;
}

.testimonial {
  width: 100%;
  height: 100%;

  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  border-radius: 12px;
  background-color: var(--main-color-card-bg);
  border: 1px solid var(--main-color-border);
}

.row-flex {
  display: flex;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.column-grid-mini,
.column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}

.column-large {
  grid-column: 1 / span 2;
}

.g-12 {
  gap: 12px;
}

.g-32 {
  gap: 32px;
}

.g-20 {
  gap: 20px;
}

.g-16 {
  gap: 16px;
}

.g-40 {
  gap: 40px;
}

.g-60 {
  gap: 60px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 12px;
}

.custom-img {
  width: 392px;
  height: 464px;

  border-radius: 12px;
  background-color: #d9d9d9;
}

.round-img {
  width: 100px;
  height: 100%;

  border-radius: 50%;
}

.multiply-img {
  mix-blend-mode: multiply;
}

.header-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* TEXT */

h1 {
  width: max-content;
  max-width: 1060px;
  position: relative;

  color: var(--main-color-title);
  font: 500 48px/140% "Manrope";
  letter-spacing: -0.5px;
  vertical-align: middle;
}

.cursor {
  position: absolute;
  top: 22px;
  right: -60px;
}

h2 {
  color: var(--main-color-title);
  font: 500 40px/140% "Manrope";
  letter-spacing: -0.5px;
  vertical-align: middle;
}

h3 {
  color: var(--main-color-title);
  letter-spacing: 0%;
  font: 500 26px/140% "Manrope";
}

h4 {
  color: var(--main-color-title);
  letter-spacing: 0%;
  font: 500 20px/140% "Manrope";
}

li,
main p {
  color: var(--main-color-text);
  font:
    400 18px/160% "Manrope",
    "rom-font";
  vertical-align: middle;
  letter-spacing: 0%;
}

.eyebrow {
  text-transform: uppercase;

  font: 500 13px/160% "Manrope";
  color: var(--main-color-text);
}

/* LIST */

.list .head {
  height: max-content;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list .head > p {
  text-transform: uppercase;
  font: 500 13px/160% "Manrope";
}

.list li {
  height: max-content;
  margin-left: 30px;
  position: relative;
}

.list li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: currentColor;

  position: absolute;
  top: 10px;
  left: -20px;
}

/* --- LINK AND BUTTON --- */
.return {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;

  border-bottom: 1px solid transparent;

  font: 500 18px/150% "Manrope";
  color: var(--main-color-button);
  transition: color 0.2s ease-in-out;
}

a {
  width: max-content;
  border-bottom: 1px solid transparent;

  display: flex;
  font: 400 14px/16.8px "Manrope";

  color: currentColor;
  transition:
    border 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

/* a:visited {
    color: var(--main-color-link-visited);
} */

a .arrow {
  width: 12px;
  margin-left: 4px;

  vertical-align: middle;
  transform: rotate(45deg);
  transition: transform 0.2s ease-in;
}

.return path,
a .arrow path {
  stroke: currentColor;
}

@media (hover: hover) {
  main a:hover,
  main a:hover > h3,
  main a:hover > h4,
  .return:hover {
    color: var(--main-color-link);
    border-bottom-color: currentColor;
  }

  a:hover svg path {
    color: currentColor;
    stroke: currentColor;
  }

  main a:hover .arrow {
    transform: rotate(90deg);
  }

  main a:hover .arrow > path {
    stroke: var(--main-color-link);
  }
}

main a:active,
main a:active > h3,
main a:active > h4,
.return:active {
  color: var(--main-color-link-active);
  border-bottom-color: currentColor;
}

main a:active .arrow > path {
  stroke: var(--main-color-link-active);
}

@media screen and (max-width: 1150px) {
  .alignment {
    width: 944px;
  }

  .header {
    padding: 110px 0 80px;
  }

  .section {
    padding: 80px 0 40px;
  }

  .custom-img {
    width: 293px;
    height: 350px;
  }

  .cursor {
    top: 18px;
  }

  h1 {
    max-width: 875px;
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  .text-box,
  .text-box-large,
  .text-box-lx2 {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .alignment {
    width: 688px;
  }

  .header {
    margin-bottom: 0;
  }

  .section {
    padding: 80px 0 80px;
  }

  .custom-img {
    width: 208px;
    height: 220px;
  }

  .cursor {
    top: 16px;
  }

  .column-grid {
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    max-width: 100%;
    font-size: 36px;
  }

  li,
  main p {
    font-size: 16px;
  }

  .cursor {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .alignment {
    width: 358px;
  }

  .header {
    padding: 80px 0 40px;
  }

  .section {
    padding: 40px 0 40px;
  }

  .column-grid-mini {
    display: flex;
    flex-wrap: wrap;
  }

  .custom-img {
    width: 108px;
    height: 129px;
  }

  .cursor {
    top: 6px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  li,
  main p {
    font-size: 14px;
  }
}
