body {
  background-color: #f3f3f2;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --main-color-title: #2a2a28;
  --main-color-text: #474a59;

  --main-color-link: #687be0;
  --main-color-link-hover: #687be07a;
  --main-color-link-active: #17029c;
  --main-color-link-visited: #9062ec;

  --main-color-card-bg: #ffffff3d;
  --main-color-border: #e5e5e5;

  --main-color-input-bg: #fff;
  --main-color-input-border: #ced0db;
  --main-color-input-placeholder: #acafbf;

  --main-color-button: #22262f;
  --main-color-error: #ff4242;
}

main {
  height: max-content;
  flex: 1 1 auto;
  position: relative;
}

.header-abs {
  position: absolute;
}

.header-fix {
  position: fixed;
}

.header-menu {
  width: 100%;
  height: 75px;

  z-index: 4;
  top: 0;

  backdrop-filter: blur(4px);
}

.header-menu::before {
  content: "";
  width: 100%;
  height: 75px;

  position: absolute;
  z-index: 2;
  top: 0;

  background-color: #fff;
  opacity: 60%;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 900px) {
  .header-menu,
  .header-menu::before {
    opacity: 0;
    backdrop-filter: none;
  }
}
