body {
  background-color: #f3f3f2;
}

body.lock {
  overflow: hidden;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --main-color-title: #2a2a28;
  --main-color-text: #474a59;

  --main-color-link: #687be0;
  --main-color-link-hover: #687be07a;
  --main-color-link-active: #17029c;
  --main-color-link-visited: #9062ec;

  --main-color-card-bg: #ffffff3d;
  --main-color-border: #e5e5e5;

  --main-color-divider: #ced0d8;
  --main-color-input-bg: #fff;
  --main-color-input-border: #ced0db;
  --main-color-input-placeholder: #acafbf;

  --main-color-button: #22262f;
  --main-color-error: #ff4242;
}

main {
  height: max-content;
  flex: 1 1 auto;
  position: relative;
}
