body {
  background-color: #F3F3F2;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --main-color-title: #2A2A28;
  --main-color-text: #474A59;

  --main-color-link: #687BE0;
  --main-color-link-hover: #687BE07A;
  --main-color-link-active: #17029C;
  --main-color-link-visited: #9062EC;

  --main-color-card-bg: #FFFFFF3D;
  --main-color-border: #E5E5E5;

  --main-color-input-bg: #FFF;
  --main-color-input-border: #CED0DB;
  --main-color-input-placeholder: #ACAFBF;

  --main-color-button: #22262F;
  --main-color-error: #FF4242;
}

main {
  height: max-content;
  flex: 1 1 auto;
  position: relative;
}

.header-abs {
  position: absolute;
}

.header-fix {
  position: fixed;
}

.header-menu {
  width: 100%;
  height: 75px;

  z-index: 4;
  top: 0;

  backdrop-filter: blur(4px);
}

.header-menu::before {
  content: '';
  width: 100%;
  height: 75px;

  position: absolute;
  z-index: 2;
  top: 0;

  background-color: #FFF;
  opacity: 60%;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 900px) {

  .header-menu,
  .header-menu::before {
    opacity: 0;
    backdrop-filter: none;
  }
}