.burger-menu,
.menu {
    height: max-content;
    align-items: center;
    display: flex;
    gap: 24px;
}

.burger-menu {
    display: none;
}

.menu,
.burger-menu {
    position: relative;
    z-index: 5;
}

.burger {
    width: 24px;
    height: 24px;

    padding: 0 3px;

    display: block;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.burger span,
.burger::before,
.burger::after {
    content: "";

    min-width: 18px;
    max-width: 18px;
    height: 1px;
    background-color: #9B9B9B;
    position: absolute;
    transition: all 0.3s ease 0s;
}

.burger span {
    top: 11.5px;
}

.burger::before {
    top: 6px;
}

.burger::after {
    bottom: 6px;
}

@media screen and (max-width: 800px) {
    body.lock {
        overflow: hidden;
    }

    .hidden {
        display: none;
    }

    .menu {
        width: 100vw;
        height: 100vh;

        position: fixed;
        top: -1000px;
        left: 0;
        z-index: 3;

        background-color: #F5F5F7;
        flex-direction: column;
        align-items: start;
        transition: all 0.3s ease 0s;
    }

    .menu.active {
        top: -40px;
        padding-top: 184px;
    }

    .burger-menu {
        display: flex;
    }

    .burger.active::before {
        transform: rotate(45deg);
        top: 11px;
        left: 3px;
    }

    .burger.active::after {
        transform: rotate(-45deg);
        bottom: 11px;
        left: 3px;
    }

    .burger.active span {
        transform: scale(0);
    }
}

@media screen and (max-width: 600px) {
    .menu.active {
        top: -16px;
    }
}