/* .welcome-box {
    height: max-content;
    padding: 80px 0;
}

.welcome-box .welcome {
    font: 500 16px/24px 'Roboto', 'from-font';
    letter-spacing: 1px;
    text-align: left;

    text-transform: uppercase;
    color: #687BE0;

    margin-bottom: 16px;
}

.welcome-box .title {
    margin: 0;
    font: 500 58px/120% 'Manrope', 'from-font';
    letter-spacing: 1px;
    color: #21344A;
}

.cursor_box {
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: end;
}

.cursor {
    width: 310px;
}

/* --- experience section --- */

/*.experience {
    height: max-content;

    display: grid;
    grid-template-columns: 312px 792px;
    gap: 48px;
}

.experience h3 {
    font: 300 16px/18px 'Manrope', 'from-font';
    letter-spacing: 0.005em;
    text-align: left;

    color: #9B9B9B;
}

.experience p {
    font: 400 16px/24px 'Manrope', 'from-font';
    letter-spacing: 0.5%;
    
}

/* -- list -- */

/*.experience-list {
    height: max-content;

    position: sticky;
    top: 280px;
}

.experience-list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-list span {
    color: #9B9B9B;
}

/* --- description --- */

/*.experience-description {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about span {
    display: flex;
    flex-direction: column;

    gap: 15px
}

/* --- SKILLS --- */
/*.skills div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skills .list p {
    margin-bottom: 8px;
    font: 500 16px/20px 'Inter';
    letter-spacing: 0%;
    color: #21344A;
}

.skills .list li {
    font: 400 16px/24px 'Manrope';
    letter-spacing: 0.5%;
    color: #21344A;
}

/* --- SOCIALS --- */

/*.socials ul {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: max-content auto;
    gap: 8px 24px;
}

.socials a {
    display: inline;
    vertical-align: middle;
}

.socials a svg {
    width: 9px;
    height: 9px;
    margin-left: 4px;
    transform: rotate(45deg);
    color: #9B9B9B;
    vertical-align: middle;
}

.email {
    width: 100%;
    min-height: 204px;
    padding: 32px;

    background-color: #FFFFFF33;
    border: 1px solid #E3E3E3;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.email a,
.email p {
    font: 400 16px/24px 'Manrope', 'from-font';
    letter-spacing: 0.005em;
}

.email a {
    color: #687BE0;
}

.photo {
    max-width: 180px;
    max-height: 204px;
    min-height: 204px;

    border-radius: 12px;
    object-fit: cover;
    opacity: 0.83;
}

.indent-photo, .indent-email {
    padding-top: 32px;
    margin-top: 32px;
}

/*  */

/*@media screen and (max-width: 1320px) {
    .cursor {
        width: 250px;
    }

    .experience {
        grid-template-columns: 353px 555px;
    }
}

@media screen and (max-width: 1050px) {
    .welcome-box .title {
        font-size: 40px;
        line-height: 46px;
    }

    .cursor {
        width: 240px;
    }

    .experience {
        height: max-content;

        display: flex;
        flex-direction: column;
    }

    .experience-list {
        position: relative;
        top: 0;
    }

    .experience-list ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 24px;
    }

    .experience-list ul li:nth-of-type(even) {
        order: 1;
    }

    .experience-description {
        margin-top: 32px;
    }
}

@media screen and (max-width: 800px) {
    .welcome-box .title {
        font-size: 32px;
        line-height: 38px;
    }

    .cursor {
        width: 160px;
    }

    .experience h3,
    .experience p {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 600px) {
    .welcome-box .welcome {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;
        text-wrap: nowrap;
    }

    .welcome-box .title {
        font-size: 20px;
        line-height: 24px;
    }

    .experience {
        padding-bottom: 28px;
    }

    .experience-list ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .experience-list ul li:nth-of-type(even) {
        order: 0;
    }

    .socials ul li:nth-of-type(5) {
        grid-column: 1/ span 2;
        grid-row: 3/4;
    }

    .indent-photo {
        width: 312px;
        height: 266px;
        border-radius: 12px;
    }

    .indent-photo .photo {
        min-width: 312px;
        min-height: 266px;

        max-width: 312px;
        max-height: 266px;
        object-fit: cover;
    }

    .socials ul li:nth-of-type(6) {
        grid-column: 1/ span 2;
        grid-row: 5/6;
    }

    .indent-email {
        margin-top: 48px;
        padding-top: 0;
    }

} */