.container a {
    width: 100%;
    height: 100%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    border-bottom: transparent;

    position: relative;
    z-index: 1;
}

.cover {
    width: 100%;
    height: 400px;

    overflow: hidden;
    position: relative;
    border-radius: 12px;
}

.caption {
    position: absolute;
    z-index: 2;
    top: 32px;
    left: 32px;
}

.caption p {
    color: #F3F3F2;
    font: 400 13px/160% 'Inter';
    text-transform: uppercase;
}

.img {
    width: 100%;
    height: 100%;

    border-radius: 12px 12px 0 0;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease;
}

.content {
    max-height: auto;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    flex-grow: 1;
}

.link {
    color: transparent;

    display: flex;
    align-items: center;

    transition: color 0.3s ease-in-out;
}

.link svg {
    stroke: transparent;
    transition: transform 0.3s ease-in-out;
}

@media (hover: hover) {

    a:hover .link,
    a:hover path {
        color: var(--main-color-title);
        stroke: var(--main-color-title);
    }

    a:hover .moveRight {
        transform: translate(10px, 0);
        -webkit-transform: translate(10px, 0);
        -o-transform: translate(10px, 0);
        -moz-transform: translate(10px, 0);
    }

    a:hover .img {
        transform: scale(1.05);
        filter: sepia(0.3) hue-rotate(200deg);
    }
}


@media screen and (max-width: 1150px) {

    .cover {
        height: 302px;
    }
}

@media screen and (max-width: 900px) {

    .link {
        color: var(--main-color-title);
    }

    .cover {
        height: 385px;
    }
}

@media screen and (max-width: 650px) {

    .cover {
        height: 180px;
    }
}