.title {
  width: 100%;
  text-align: center;
}

.text {
  margin-top: 8px;
  text-align: center;
}

.img {
  height: 100vh;

  position: absolute;
  left: 170px;
  bottom: 0;
}

@media screen and (max-width: 1150px) {
  .img {
    left: 39px;
  }
}

@media screen and (max-width: 900px) {
  .img {
    height: 90vh;
    left: 0;
  }
}

@media screen and (max-width: 650px) {
  .img {
    height: 40vh;
    left: 0;
  }
}
