.arrow_box {
    height: 100%;
    width: 50%;
    padding: 24px 0;

    display: flex;
    align-items: end;
    justify-content: end;

    position: absolute;
    bottom: 0;
    right: -300px;
}

.arrow-up {
    width: 36px;
    height: 36px;

    border: 1px solid #687BE066;
    background-color: #FFFFFF99;
    border-radius: 8px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    bottom: -2400px;
    right: 120px;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.arrow-up.show {
    bottom: 32px;
}

.arrow_svg {
    width: 12px;
    color: #9B9B9B;
}

@media (hover: hover) {
    .arrow-up:hover {
        box-shadow: 0px 0px 24px 0px #F4F4F433;
        backdrop-filter: blur(20px);

        background-color: #7486E21A;
        border-color: #687BE0B2;
    }

    .arrow-up:hover>.arrow_svg {
        color: #687BE0B2;
    }
}

.arrow-up:active {
    background-color: #FFFFFF99;
    border-color: #17029C;
}

.arrow-up:active>.arrow_svg {
    color: #17029C;
}

@media screen and (max-width: 1320px) {
    .arrow-up {
        right: 84px;
    }
}

@media screen and (max-width: 1050px) {
    .arrow-up {
        right: 16px;
    }
}

@media screen and (max-width: 920px) {
    .arrow_box {
        right: -100px;
    }
}

@media screen and (max-width: 800px) {
    .arrow-up {
        right: 8px;
    }

    .arrow-up.show {
        bottom: 16px;
    }
}

@media screen and (max-width: 600px) {
    .arrow_box {
        right: -75px;
    }
}

@media screen and (max-width: 400px) {
    .arrow_box {
        right: 0;
    }
}