.button {
    padding: 16px 20px;
    border-radius: 40px;
    background-color: #FFFFFF80;
    border: 1px solid var(--main-color-sup);

    font: 500 18px/160% 'Manrope';
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    color: #22262F;
}

.button:hover {
    color: #4454AE;
    background-color: #687BE00A;
    border: 1px solid #687BE052;
}

.button:active {
    color: #4454AE;
    background-color: #FFF;
    border: 1px solid #4454AE80;
}