.header {
  height: max-content;

  display: flex;
  gap: 12px;
}

.img {
  width: 64px;
  height: 64px;

  border-radius: 50%;
  background-color: var(--main-color-border);
}

.prof {
  margin-top: 2px;
  text-transform: uppercase;
  font: 500 13px/160% "Manrope";

  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

@media screen and (max-width: 650px) {
  .prof {
    font-size: 10px;
  }

  .text {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}