.menu {
    width: 100vw;
    height: 100vh;
    padding: 60px 0;
    background-color: #F5F5F7;
    overflow: hidden;

    position: fixed;
    z-index: 2;
}

.container {
    width: 544px;
    height: 40px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 2;
}

.button,
.button a {
    width: 100%;
    height: 100%;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #E7E7E7;
    transition: border 0.2s ease-in-out;
}

.button svg {
    color: #7E8294;
}

@media (hover: hover) {
    .button a:hover>.text>.name,
    .button a:hover>.text>svg,
    .button:hover {
        color: #687BE0;
        border-bottom-color: #687BE0;
    }
}

.button a:active>.text>.name,
.button a:active>.text>svg,
.button:active {
    color: #17029C;
    border-bottom-color: #17029C;
}

.text {
    font: 500 24px/32px 'Manrope';
    letter-spacing: 0.5%;
    color: #21344A;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    transition: color 0.2s ease-in-out;
}

.name {
    flex: 1;
}

.current {
    width: max-content;
    height: 20px;
    font: 400 italic 16px/20px 'Inter';
    letter-spacing: 0%;
    text-align: center;
    color: #687BE0;
    display: none;
}

.active>.text>.current {
    display: inline;

}

.arrowRight {
    width: 14px;
    transform: rotate(90deg);
}

.arrowRightUp {
    width: 14px;
    transform: rotate(45deg);
}

.arrowDown {
    width: 14px;
    transform: rotate(180deg);
}

@media screen and (max-width: 600px) {
    .container {
        width: 264px;
        height: 28px;
    }

    .text {
        font-size: 16px;
        line-height: 20px;
    }

    .current {
        font-size: 12px;
        line-height: 16px;
    }
}