/* --- HEADER CONTAINER --- */

/* .header {
    margin-bottom: 126px;
    background-color: #FFF;
    position: sticky;
    top: 0;
    z-index: 3;

    transition: top 0.3s linear;
} */

.hide {
    top: -54px;
}

.menu {
    max-width: 1400px;
    height: 54px;
    margin: 0 auto;
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.pages {
    display: flex;
    flex-grow: 1;
}

.anchor {
    display: flex;
}

.burger {
    display: none;
}

.burger p {
    cursor: pointer;
}

.pages,
.anchor,
.burger {
    height: 100%;
    align-items: center;
    gap: 24px;
}

@media screen and (max-width: 1050px) {
    .header {
        margin-bottom: 40px;
    }

    .menu {
        max-width: 836px;
        gap: 40px;
    }
}

@media screen and (max-width: 800px) {
    .menu {
        max-width: 544px;
        gap: 0;
    }

    .pages,
    .anchor {
        display: none;
    }

    .burger {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .header {
        margin-bottom: 24px;
    }
    .menu {
        max-width: 312px;
    }
}

/* --- BUTTON --- */

.menu ul li {
    width: max-content;
    height: 100%;
}

.button {
    width: max-content;
    height: 100%;

    cursor: pointer;
    border-bottom: 1px solid red;
    transition: background-color 0.2s ease-in-out;
}

.text {
    height: 100%;
    border-bottom: 2px solid transparent;

    color: #21344A;
    letter-spacing: 0.2px;
    font: 400 14px/24px 'Manrope', 'rom-font';
    transition: color 0.2s ease-in-out;

    display: flex;
    align-items: center;
    gap: 2px;
}

@media (hover: hover) {
    .button:hover .text {
        color: #687BE0;
    }
}

.button:active .text {
    color: #17029C;
}

header nav:last-child .active .text {
    border-bottom-color: #687BE0;
}

@media screen and (max-width: 800px) {
    .button {
        width: 560px;
        height: 36px;

        padding: 0 0 8px 0;

        border-radius: 0;
        border-bottom: 1px solid #E3E3E3;
    }

    .button .text {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.5%;

        display: flex;
        justify-content: space-between;
    }

    @media (hover: hover) {
        .button:hover {
            background-color: transparent;
            border-bottom-color: #687BE0;
        }

        .button:hover>.text {
            color: #687BE0;
        }
    }

    .button:active {
        border-bottom-color: #17029C;
    }

    .button:active>.text {
        color: #17029C;
    }
}

/* --- ARROW --- */

.menu svg {
    color: #9B9B9B;
}

.arrow-right-up {
    width: 8px;
    transform: rotate(45deg);
}

.arrow-down {
    width: 8px;
    transform: rotate(180deg);
}

/* --- ADDITIONAL SUBJECT --- */

.logo {
    max-height: 16px;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
}

.separator {
    width: 1px;
    height: 32px;
    background-color: #DEDEDE;
}