/* --- HEADER --- */

.header {
    height: 232px;
    position: relative;
    margin: 0 auto;
}

.header-box {
    height: 52px;

    padding: 10px 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 4;
    top: 40px;

    border-radius: 16px;

    backdrop-filter: blur(8px);
}

.header,
.header-box {
    width: 996px;
}

.header-box::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #FFF;
    opacity: 0.7;

    position: absolute;
    z-index: 5;
    left: 0;
}

@media screen and (max-width: 1320px) {

    .header,
    .header-box {
        width: 890px;
    }
}

@media screen and (max-width: 1320px) {

    .header,
    .header-box {
        width: 890px;
    }
}

@media screen and (max-width: 1050px) {

    .header,
    .header-box {
        width: 772px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        height: 166px;
    }

    .header,
    .header-box {
        width: 559px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        height: 100px;
    }

    .header-box {
        top: 16px;
    }

    .header,
    .header-box {
        width: 312px;
    }
}

/* --- ADDITIONAL SUBJECT --- */

.logo {
    max-height: 12px;
    cursor: pointer;

    position: relative;
    z-index: 5;
}

.separator {
    width: 1px;
    height: 16px;

    background-color: #DEDEDE;
}