@media (max-width:1320px) 
{
    .wrapper
    {
        max-width: 1200px;
        padding: 0 80px;
    }

    .main section
    {
        margin-top: 180px;
    }

    .main .greetings .presentation
    {
        font-size: 52px;
    }

    .main .project .line
    {
        margin: 88px 0;
    }

    .main .project .box .box_text .text
    {
        width: 334px;
        font-size: 24px;
    }

    .main .project .box .box_img
    {
        width: 598px;
    }

    .date_box
    {
        width: 243px;
    }

    .box_section .info_box
    {
        max-width: 686px;
    }

    .box_section .info_box p
    {
        max-width: 686px;
        font-size: 24px;
    }

    .connect_section .lets_connect
    {
        font-size: 52px;
    }

    .connect_section .lets_connect_link
    {
        font-size: 18px;
        letter-spacing: 0.18px;
    }
}

@media (max-width:1060px) 
{

    .link
    {
        font-size: 18px;
    }

    .wrapper
    {
        max-width: 920px;
        padding: 0 60px;
    }

    .main section
    {
        margin-top: 160px;
    }

    .main .greetings .presentation
    {
        max-width: 663px;
        font-size: 40px;
    }

    .main .project .line
    {
        margin: 60px 0;
    }

    .main .project .box
    {
        height: 464px;
        flex-direction: column;
    }

    .main .project .box .box_text .box_project_info
    {
        height: 100%;
        margin-top: 40px;
        margin-bottom: 56px;

        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }

    .main .project .box .box_text .text
    {
        width: 527px;
        height: 62px;
        
        font-size: 22px;
    }

    .main .project .box .box_img
    {
        width: 800px;
        height: 258px;
    }

    .box_section .info_box
    {
        max-width: 527px;
    }

    .date_box
    {
        width: 185px;
    }

    .box_section .info_box p
    {
        max-width: 527px;
        font-size: 20px;
        letter-spacing: 1.224px;
    }

    .box_section .info_box .list .list_item
    {
        height: Hug (34px);
        padding: 8px;
        gap: 10px;
    }

    .box_section .info_box .list .list_item p
    {
        font-size: 12px;
    }

    .box_section .date_box .year
    {
        font-size: 14px;
    }

    .box_section .date_box .job_title
    {
        font-size: 12px;
    }

    .connect_section
    {
        height: 271px;
        padding: 80px 0;
    }

    .connect_section .lets_connect
    {
        font-size: 40px;
    }

    .connect_section .lets_connect_link
    {
        font-size: 16px;
        letter-spacing: 0.16px;
    }
}

@media (max-width:780px) 
{
    .link
    {
        font-size: 18px;
    }

    .wrapper
    {
        max-width: 640px;
        padding: 0 40px;
    }

    .main section
    {
        margin-top: 140px;
    }

    .main .greetings .presentation
    {
        max-width: 560px;
        font-size: 36px;
    }

    .main .project .line
    {
        margin: 40px 0;
    }

    .main .project .box
    {
        height: 470px;
        flex-direction: column;
    }

    .main .project .box .box_text .box_project_info
    {
        height: 100%;
        margin-top: 48px;
        margin-bottom: 60px;
        
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
    
    .main .project .box .box_text .text
    {
        width: 460px;
        height: 56px;
        
        font-size: 20px;
    }
    
    .main .project .box .box_img
    {
        width: 560px;
        height: 258px;
    }
    
    .box_section
    {
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .box_section .info_box
    {
        max-width: 100%;

        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .box_section .info_box .list
    {
        margin: 60px 0;
    }

    .date_box
    {
        width: 100%;
    }

    .date_box .columns
    {
        height: 128px;
        display: flex;
        flex-wrap: wrap;
    }

    .date_box .columns .columns_item
    {
        width: 269px;
        height: 43px;
        gap: 24px 20px;
    }
    /* 22222 */
    .box_section .info_box p
    {
        max-width: 560px;
        font-size: 20px;
        letter-spacing: 1.224px;
    }

    .box_section .info_box .list .list_item
    {
        height: Hug (34px);
        padding: 8px;
        gap: 10px;
    }

    .box_section .info_box .list .list_item p
    {
        font-size: 13px;
    }

    .box_section .date_box .year
    {
        font-size: 15px;
    }

    .box_section .date_box .job_title
    {
        font-size: 13px;
    }

    .connect_section
    {
        height: 273px;
        padding: 79px 0 86px;
    }

    .connect_section .lets_connect
    {
        font-size: 36px;
    }

    .connect_section .lets_connect_link
    {
        font-size: 14px;
        letter-spacing: 0.16px;
    }
}