@media (max-width:1320px) 
{
    .wrapper
    {
        max-width: 1200px;
        padding: 0 80px;
    }

    .main section
    {
        margin-top: 180px;
    }

    .main .greetings .presentation
    {
        font-size: 52px;
    }

    .main .project .line
    {
        margin: 88px 0;
    }

    .main .project .box .box_text .text
    {
        width: 334px;
        font-size: 24px;
    }

    .main .project .box .box_img
    {
        width: 598px;
    }

    .date_box
    {
        width: 243px;
    }

    .box_section .info_box
    {
        max-width: 686px;
    }

    .box_section .info_box p
    {
        max-width: 686px;
        font-size: 24px;
    }

    .bottom_section .lets_connect
    {
        font-size: 52px;
    }

    .bottom_section .lets_connect_link
    {
        font-size: 18px;
        letter-spacing: 0.18px;
    }
}

@media (max-width:1060px) 
{

    .link
    {
        font-size: 18px;
    }

    .wrapper
    {
        max-width: 920px;
        padding: 0 60px;
    }

    .main section
    {
        margin-top: 160px;
    }

    .main .greetings .presentation
    {
        font-size: 40px;
    }

    .main .project .line
    {
        margin: 60px 0;
    }

    .main .project .box
    {
        height: 464px;
        flex-direction: column;
    }

    .main .project .box .box_text .box_project_info
    {
        height: 100%;
        margin-top: 40px;
        margin-bottom: 56px;

        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }

    .main .project .box .box_text .text
    {
        width: 527px;
        height: 62px;
        
        font-size: 22px;
    }

    .main .project .box .box_img
    {
        width: 800px;
        height: 258px;
    }

    .box_section .info_box
    {
        max-width: 527px;
    }

    .date_box
    {
        width: 185px;
    }

    .box_section .info_box p
    {
        max-width: 527px;
        font-size: 20px;
        letter-spacing: 1.224px;
    }

    .box_section .info_box .list .list_item
    {
        height: Hug (34px);
        padding: 8px;
        gap: 10px;
    }

    .box_section .info_box .list .list_item p
    {
        font-size: 12px;
    }

    .box_section .date_box .year
    {
        font-size: 14px;
    }

    .box_section .date_box .job_title
    {
        font-size: 12px;
    }

    .bottom_section .lets_connect
    {
        font-size: 40;
    }

    .bottom_section .lets_connect_link
    {
        font-size: 16px;
        letter-spacing: 0.16px;
    }
}