.box {
    height: 100%;
    padding-top: 5px;
    position: absolute;
    top: 0;
    left: -160px;
}

.container {
    width: 140px;
    height: max-content;
    text-align: left;
    position: sticky;
    top: 235px;
}

.container a,
.text {
    font: 300 15px/20px 'Manrope';
    letter-spacing: 0.5%;
}

.link {
    color: #9B9B9B;
}

@media screen and (max-width: 1320px) {
    .box {
        left: -130px;
    }

    .container a,
    .text {
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 1050px) {
    .box {
        padding-top: 0;
        position: relative;
        left: 0;
    }

    .container {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3px;
        position: relative;
        top: 0;
        white-space: nowrap;

    }

    .text {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .link::after {
        content: " / ";
    }
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 600px) {}