.container {
  margin: 0 auto;
  position: relative;

  display: grid;
  grid-template-columns: 180px 1fr;

  gap: 32px;
}

.title {
  height: 56px;
  display: flex;
  align-items: center;
}

.light {
  color: #9b9b9b;
}

.content {
  gap: 40px;
}

.content>div:not(:global(.grid-cols)) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1500px) {
  .container {
    grid-template-columns: 206px 924px 206px;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    grid-template-columns: 131px 1fr;
  }
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .title {
    height: auto;
    display: block;

    position: relative;
    left: 0;
    transform: translateX(0);
  }

  .content>div:not(:global(.grid-cols)) {
    gap: 16px;
  }
}

@media screen and (max-width: 650px) {
  .content {
    gap: 24px;
  }

  .content>div:not(:global(.grid-cols)) {
    gap: 8px;
  }
}