.content {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #21344A1A;
    font: 300 15px/20px 'Manrope';
    letter-spacing: 0.5%;
    color: #21344A;
}

.name {
    font: 500 15px/20px 'Manrope';
    text-align: left;
}

.text {
    font: 300 15px/20px 'Manrope';
    text-align: right;
}

@media screen and (max-width: 600px) {
    .name,
    .text {
        width: 50%;
        font-size: 14px;
    }
}