.header {
    width: 100%;
    height: max-content;

    padding: 130px 0 120px;
    margin-bottom: 20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    background-color: #FFF;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.section {
    padding: 100px 0 50px;

    display: flex;
    flex-direction: column;
}

.alignment {
    width: 1240px;
    margin: 0 auto;
}

.text-box {
    max-width: 816px;
}

.text-box-large {
    max-width: 922px;
}

.row-flex {
    display: flex;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.column-grid {
    display: grid;
    flex-shrink: 1;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.g-32 {
    gap: 32px;
}

.g-20 {
    gap: 20px;
}

.g-16 {
    gap: 16px;
}

.g-40 {
    gap: 40px;
}

.custom-img {
    width: 392px;
    height: 464px;

    border-radius: 12px;
    background-color: #D9D9D9;
}

.round-img {
    width: 100px;
    height: 100%;

    border-radius: 50%;
}

h1 {
    width: max-content;
    max-width: 1060px;
    position: relative;

    color: var(--main-color-title);
    font: 500 48px/140% 'Manrope';
    letter-spacing: -0.5px;
    vertical-align: middle;
}

.cursor {
    position: absolute;
    top: 22px;
    right: -60px;
}

h2 {
    color: var(--main-color-title);
    font: 500 40px/140% 'Manrope';
    letter-spacing: -0.5px;
    vertical-align: middle;
}

h3 {
    color: var(--main-color-title);
    letter-spacing: 0%;
    font: 500 26px/140% 'Manrope';
}

h4 {
    color: var(--main-color-title);
    letter-spacing: 0%;
    font: 500 20px/140% 'Manrope';
}

main p {
    color: var(--main-color-text);
    font: 400 18px/160% 'Manrope', 'rom-font';
    vertical-align: middle;
    letter-spacing: 0%;
}

.eyebrow {
    text-transform: uppercase;

    font: 500 13px/160% 'Manrope';
    color: var(--main-color-text);
}

.list .head {
    height: max-content;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list .head>p {
    text-transform: uppercase;
    font: 500 13px/160% 'Manrope';
}

.list li {
    height: max-content;
    margin-left: 30px;
    position: relative;
}

.list li::before {
    content: '.';
    font-size: 40px;
    position: absolute;
    top: -20px;
    left: -20px;
}

/* --- LINK AND BUTTON --- */
.return {
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;

    border-bottom: 1px solid transparent;

    font: 500 18px/150% 'Manrope';
    color: var(--main-color-button);
}

main a {
    width: max-content;
    border-bottom: 1px solid transparent;

    display: flex;

    color: currentColor;
    transition: color 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.return path,
main a path {
    color: currentColor;
}

main a .arrow {
    width: 12px;
    margin-left: 4px;

    vertical-align: middle;
    transform: rotate(45deg);
    transition: transform 0.2s ease-in;
}

@media (hover: hover) {

    main a:hover,
    main a:hover>h3,
    main a:hover>h4,
    .return:hover {
        color: var(--main-color-link);
        border-bottom-color: currentColor;
    }

    main a:hover .arrow {
        transform: rotate(90deg);
    }
}

main a:active,
main a:active>h3,
main a:active>h4,
.return:active {
    color: var(--main-color-link-active);
    border-bottom-color: currentColor;
}

@media screen and (max-width: 1150px) {

    .alignment {
        width: 944px;
    }

    .custom-img {
        width: 293px;
        height: 350px;
    }

    .cursor {
        top: 18px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    .text-box,
    .text-box-large {
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {

    .alignment {
        width: 688px;
    }

    .custom-img {
        width: 208px;
        height: 220px;
    }

    .cursor {
        top: 16px;
    }

    .column-grid {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 36px;
    }

    main p {
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {

    .alignment {
        width: 358px;
    }

    .custom-img {
        width: 108px;
        height: 129px;
    }

    .cursor {
        top: 6px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    main p {
        font-size: 14px;
    }
}