.main {
    display: flex;
    flex-direction: column;

    gap: 140px;
}

.footer {
    height: 72px;
    padding: 24px 0;
    border-top: 1px solid #21344A1A;

    margin-top: 140px;

    display: flex;
    justify-content: center;
}

.footer p {
    max-width: 0 auto;
    font: 300 12px/24px 'Manrope', 'from-font';
    letter-spacing: 0.005em;

    color: #9B9B9B;
}