.header {
    width: 100vw;
    height: max-content;

    padding: 130px 0 120px;
    margin-bottom: 20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    background-color: #FFF;
}

.box {
    width: 1240px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.section {
    width: 1240px;
    margin: 0 auto;
    padding: 100px 0 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-box {
    max-width: 816px;
}

.row-flex {
    display: flex;
    gap: 32px;
}

.column-flex {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 32px;
}

.title {
    margin-bottom: 32px;

    color: var(--main-color-title);
    font: 500 48px/140% 'Manrope';
    letter-spacing: -0.5px;
    vertical-align: middle;
}

.subtitle {
    margin-bottom: 20px;

    color: var(--main-color-title);
    font: 500 40px/140% 'Manrope';
    letter-spacing: -0.5px;
    vertical-align: middle;
}

.custom-img {
    width: 392px;
    height: 464px;

    border-radius: 12px;
    background-color: #D9D9D9;
}

main p {
    color: var(--main-color-text);
    font: 400 18px/160% 'Manrope', 'rom-font';
    vertical-align: middle;
    letter-spacing: 0%;
}

main a {
    width: max-content;

    border-bottom: 1px solid transparent;
    letter-spacing: 0.005em;
    font: 300 15px/20px 'Manrope', 'from-font';
    color: currentColor;

    transition: color 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

@media (hover: hover) {
    main a:hover {
        color: var(--main-color-link);
        border-bottom-color: currentColor;
    }

    main a:hover path {
        stroke: var(--main-color-link);
    }

}

main a:active {
    color: var(--main-color-link-active);
    border-bottom-color: currentColor;
}

main a:active path {
    stroke: var(--main-color-link-active);
}