body {
  background-color: #F3F3F2;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --main-color-title: #2A2A28;
  --main-color-text: #474A59;

  --main-color-link: #687BE0;
  --main-color-link-active: #17029C;

  --main-color-card-bg: #FFFFFF3D;
  --main-color-border: #E5E5E5;
}

main {
  flex: 1 1 auto;
  position: relative;
  height: max-content;
}

body.lock {
  overflow: hidden;
}