/* --- global positioning --- */

body {
  background-color: #F5F5F7;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body.lock {
  overflow: hidden;
}

/* --- global styles --- */

.footer {
  height: 72px;
  padding: 24px 0;
  border-top: 1px solid #21344A1A;

  display: flex;
  justify-content: center;
}

.footer p {
  max-width: 0 auto;
  font: 300 12px/24px 'Manrope', 'from-font';
  letter-spacing: 0.005em;

  color: #9B9B9B;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 140px;
  margin-bottom: 140px;
}

main p {
  color: #21344A;
  font: 400 28px/38px 'Manrope', 'rom-font';
  letter-spacing: 0.5%;
  position: relative;
}

main a {
  width: max-content;

  border-bottom: 1px solid transparent;
  letter-spacing: 0.005em;
  font: 300 15px/20px 'Manrope', 'from-font';
  color: currentColor;

  transition: color 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

@media (hover: hover) {
  main a:hover {
    color: #687BE0;
    border-bottom-color: currentColor;
  }

  main a:hover path {
    stroke: #687BE0;
  }

}

main a:active {
  color: #17029C;
  border-bottom-color: currentColor;
}

main a:active path {
  stroke: #17029C;
}

/* --- global margins --- */

.container {
  width: 996px;
}

main {
  margin: 0 auto;
  flex: 1 1 auto;
  position: relative;
  height: max-content;
}

@media screen and (max-width: 1320px) {
  .container {
    width: 890px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    width: 772px;
  }

  .wrapper {
    gap: 80px;
    margin-bottom: 80px;
  }

  main p {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 559px;
  }

  .wrapper {
    gap: 60px;
  }

  main p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 312px;
  }

  .wrapper {
    gap: 32px;
  }

  main p {
    font-size: 14px;
    line-height: 20px;
  }
}