/* --- global positioning --- */

body {
  background-color: #F3F3F2;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --main-color-title: #2A2A28;
  --main-color-text: #474A59;

  --main-color-link: #687BE0;
  --main-color-link-active: #17029C;

  --main-color-sup: #E5E5E5;
}

main {
  margin: 0 auto;
  flex: 1 1 auto;
  position: relative;
  height: max-content;
}

body.lock {
  overflow: hidden;
}

/* --- global styles --- */

@media (hover: hover) {
  main a:hover {
    color: var(--main-color-link);
    border-bottom-color: currentColor;
  }

  main a:hover path {
    stroke: var(--main-color-link);
  }

}

main a:active {
  color: var(--main-color-link-active);
  border-bottom-color: currentColor;
}

main a:active path {
  stroke: var(--main-color-link-active);
}

/* --- global margins --- */
@media screen and (max-width: 1320px) {
  .container {
    width: 956px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    width: 836px;
  }

  .wrapper {
    gap: 80px;
    margin-bottom: 80px;
  }

  main p {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 544px;
  }

  .wrapper {
    gap: 60px;
    margin-bottom: 60px;
  }

  main p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 312px;
  }

  main p {
    font-size: 14px;
    line-height: 20px;
  }
}