.container {
    width: 100%;
    height: max-content;

    padding: 24px 40px;
    border-radius: 12px;
    border: 1px solid var(--main-color-border);
    background-color: var(--main-color-card-bg);
}

.date {
    font: 500 13px/160% 'Manrope';
    margin: 2px 0 12px;

    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;

}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

@media screen and (max-width: 650px) {
    .text {
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}