.burger-menu,
.menu {
    height: max-content;
    align-items: center;
    display: flex;
    gap: 24px;
    position: relative;
    z-index: 5;
}

.burger-menu {
    display: none;
}

.menu svg {
    color: #9B9B9B;
}

.burger {
    width: 24px;
    height: 24px;

    padding: 0 3px;

    display: block;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.burger span,
.burger::before,
.burger::after {
    content: "";

    min-width: 18px;
    max-width: 18px;
    height: 1px;
    background-color: #9B9B9B;
    position: absolute;
    transition: all 0.3s ease 0s;
}

.burger span {
    top: 11.5px;
}

.burger::before {
    top: 6px;
}

.burger::after {
    bottom: 6px;
}

@media screen and (max-width: 800px) {
    .hidden {
        display: none;
    }

    .show-arrow {
        display: block;
    }

    .menu {
        width: 100vw;
        height: 100vh;

        position: fixed;
        top: -1000px;
        left: 0;
        z-index: 3;

        background-color: #F5F5F7;
        flex-direction: column;
        align-items: start;
        transition: all 0.3s ease 0s;
    }

    .menu.burger-active {
        top: -40px;
        padding-top: 184px;
    }

    .burger-menu {
        display: flex;
    }

    .arrow-none {
        display: none;
    }

    .burger.burger-active::before {
        transform: rotate(45deg);
        top: 11px;
        left: 3px;
    }

    .burger.burger-active::after {
        transform: rotate(-45deg);
        bottom: 11px;
        left: 3px;
    }

    .burger.burger-active span {
        transform: scale(0);
    }

    .arrow-down {
        width: 14px;
        transform: rotate(180deg);
        color: #9B9B9B;
    }
}

@media screen and (max-width: 600px) {
    .menu.burger-active {
        top: -16px;
    }
}


.active::after {
    content: "";
    height: 1px;
    width: 100%;

    color: #687BE0;
    background-color: #687BE0;

    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0)
}

@media (hover: hover) {
    .changingButton:hover,
    .button:hover {
        background-color: #687BE014;
    }
}

@media screen and (max-width: 800px) {
    .active::after {
        color: transparent;
        background-color: transparent;
    }

    .changingButton {
        width: 560px;
        height: 36px;

        padding: 0 0 8px 0;

        border-radius: 0;
        border-bottom: 1px solid #E3E3E3;
    }

    .changingButton .text {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.5%;

        display: flex;
        justify-content: space-between;
    }

    @media (hover: hover) {
        .changingButton:hover {
            background-color: transparent;
            border-bottom-color: #687BE0;
        }

        .changingButton:hover>.text {
            color: #687BE0;
        }

        .changingButton:hover>.text>svg>path {
            stroke: #687BE0;
        }
    }

    .changingButton:active {
        border-bottom-color: #17029C;
    }

    .changingButton:active>.text {
        color: #17029C;
    }

    .changingButton:active>.text>svg>path {
        stroke: #17029C;
    }
}

@media screen and (max-width: 600px) {
    .changingButton {
        width: 312px;
    }

    .changingButton .text {
        font-size: 20px;
        line-height: 24px;
    }
}