.content-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.content-box-title {
    margin-bottom: 24px;
    font: 500 20px/24px 'Manrope', 'from-font';
    letter-spacing: 0.5%;
    color: #9B9B9B;
}